* {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  background-color: #3c4f5d;
  margin-right: 20px;
  text-align: right;
  width: 20%;
  float: left;
  padding-bottom: 100%;
  padding-top: 15%;
  padding-right: 1%;
}

.main {
  display: inline-block;
  width: 60%;
}

#hwhite {
  color: white;
}

#mini-content {
  color: #b0cac9;
}

.button a {
  color: white;
  border: 1px solid #b0cac9;
  padding: 5px;
  text-decoration: none;
  margin: 5px;
}

nav {
  float: left;
}

#JS-blue {
  background-color: #4d85d1;
  color: white;
  padding: 2px 8px;
}

#css-green {
  background-color: #5aba59;
  color: white;
  padding: 2px 8px;
}
#JS-red {
  background-color: red;
  color: white;
  padding: 2px 8px;
}

#JS-grey {
  background-color: grey;
  color: white;
  padding: 2px 8px;
}
#face {
  float: right;
  width: 60px;
}

.content a {
  text-decoration: none;
}

.content {
  margin: 10px;
}

.grey {
  color: grey;
}

img {
  width: 30%;
}
